@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

body {
    font-family: 'Roboto', sans-serif;
    color: #fff;
    background: #000;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.title {
    font-weight: 100;
    font-size: 4em;
}

.time {
    margin-top: 20px;
    font-size: 5em;
}